*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4e4ba;
}

.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 1px black;
    min-height: 45vh;
    width: 40vh;
}
form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
.input input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.input{
    margin-top: 1rem;
}
.childCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}
.childCon i{
    margin-top: 1rem;
}
.border{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 0.5rem;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
}
.option img{
    width: 40px;
}

.select{
    border: none;
    outline: none;
}

.msg {
    font-family: sans-serif;
    margin: 0 2rem 2rem;
    text-align: center;
    font-size: large;
    font-weight: 900;
}

form button {
  height: 3rem;
  background-color: #af4d98;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}